@font-face {
  font-family: "Bebas Neue";
  src: url(./assets/BebasNeue-Regular.ttf);
}

* {
  font-family: "sans-serif";
  color: white;
}

body {
  background-image: url(assets/background.jpg);
}

header h1 {
  font-family: "Bebas Neue";
  text-align: center;
  margin-bottom: 64px;
}

.information {
  font-size: large;
  text-align: center;
  margin: 18px 0;
}

.game-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 0.2fr 1fr;
}

.play-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.player-name {
  text-align: center;
}

.board {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template: repeat(10, 40px) / repeat(10, 40px);
}

.board .block {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(128, 128, 128, 0.7);
}

.harbour {
  width: 400px;
  height: 100px;

  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
}

.buttons-container {
  width: 400px;
  height: 50px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.buttons-container > * {
  height: 36px;
  border-radius: 16px 8px;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#player-1-randomize,
#player-2-randomize {
  background-image: linear-gradient(
    45deg,
    rgb(98, 255, 234),
    rgba(50, 50, 197, 0.589)
  );
}

#player-1-randomize:hover,
#player-2-randomize:hover {
  background-image: linear-gradient(
    45deg,
    rgba(50, 50, 197, 0.589),
    rgb(98, 255, 234)
  );
}

#player-1-ready,
#player-2-ready {
  background-image: linear-gradient(
    45deg,
    rgb(98, 255, 124),
    rgba(28, 124, 49, 0.884)
  );
}

#player-1-ready:hover,
#player-2-ready:hover {
  background-image: linear-gradient(
    45deg,
    rgba(28, 124, 49, 0.884),
    rgb(98, 255, 124)
  );
}

.play-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#play-computer-button,
#play-human-button,
#pass-button,
#start-button {
  cursor: pointer;
  font-size: large;
  height: 150px;
  width: 150px;
  border-radius: 40%;
  border: 2px solid white;
  color: white;
}

#start-button {
  border-radius: 45px;
  height: 85px;
  background-image: radial-gradient(rgb(233, 65, 65), rgb(255, 170, 131));
}

#pass-button {
  border-radius: 45px;
  height: 85px;
  background-image: radial-gradient(rgb(243, 239, 25), rgb(241, 217, 166));
}

#play-computer-button {
  background-image: radial-gradient(rgb(37, 182, 240), rgb(131, 255, 203));
}
#play-human-button {
  background-image: radial-gradient(rgb(33, 221, 74), rgb(171, 255, 175));
}

#start-button:hover {
border: 1px solid black;
  background-image: radial-gradient(rgb(224, 93, 41), rgb(235, 51, 27));
}

#pass-button:hover {
  border: 1px solid black;
  background-image: radial-gradient(rgb(224, 221, 27), rgb(219, 179, 91));
}

#play-computer-button:hover {
  border: 1px solid black;
  background-image: radial-gradient(rgb(37, 182, 240), rgb(98, 190, 152));
}
#play-human-button:hover {
  border: 1px solid black;
  background-image: radial-gradient(rgb(33, 221, 74), rgb(117, 173, 120));
}

#play-computer-button.hidden,
#play-human-button.hidden,
#pass-button.hidden,
#start-button.hidden {
  display: none;
}

/* Ship styling */
.ship {
  height: 40px;
  position: relative;
  z-index: 3;
  background-color: lightblue;
  box-sizing: border-box;
  border: 2px solid black;
}

/* Ships grid placement*/
#player-1-carrier,
#player-2-carrier {
  grid-row: 1 / 2;
  grid-column: 1 / 6;
}

#player-1-battleship,
#player-2-battleship {
  grid-row: 1 / 2;
  grid-column: 7 / 11;
}

#player-1-cruiser,
#player-2-cruiser {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

#player-1-submarine,
#player-2-submarine {
  grid-row: 2 / 3;
  grid-column: 5 / 8;
}

#player-1-destroyer,
#player-2-destroyer {
  grid-row: 2 / 3;
  grid-column: 9 / 11;
}

.vertical {
  transform-origin: 20px 20px;
  transform: rotate(90deg);
}

.dragging {
  display: none;
}

.hidden {
  visibility: hidden;
}
